<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="3" parallel="tests" name="Suite">
  <test thread-count="2" parallel="tests" name="Test1,2">
    <classes>
      <class name="testNGTestPackage.TestNGParallelOne"/>
      <class name="testNGTestPackage.TestNGParallelTwo"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="2" parallel="tests" name="Test3,4">
    <classes>
      <class name="testNGTestPackage.TestNGParallelThree"/>
      <class name="testNGTestPackage.TestNGParallelFour"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="2" parallel="tests" name="Test5,6">
    <classes>
      <class name="testNGTestPackage.TestNGParallelFive"/>
      <class name="testNGTestPackage.TestNGParallelSix"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="2" parallel="tests" name="Test7,8">
    <classes>
      <class name="testNGTestPackage.TestNGParallelSeven"/>
      <class name="testNGTestPackage.TestNGParallelEight"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
